services:
  rule-book-backend:
    image: ghcr.io/mariannefeng/rule-book-backend:latest
    container_name: rule-book-backend
    restart: unless-stopped
    expose:
      - "8080"
    env_file:
      - ./secrets/.env
    environment:
      - R2_BUCKET=rulebook
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true
